<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>OneData-Test</title>

	<link rel="stylesheet" href="">
	<!-- 新 Bootstrap 核心 CSS 文件 -->
	<link rel="stylesheet" href="./css/bootstrap.min.css">

  <script src="./js/jquery-3.1.0.min.js"></script>

	<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="./js/bootstrap.min.js"></script>

<script src="./js/angular.min.js"></script>

<link rel="stylesheet" href="./css/font-awesome.min.css">

<link rel="stylesheet" href="./css/onedata.css">


</head>

<body ng-app="TrendingPlayers">

<div class="container-fluid" ng-controller="MainController">

	 <div class="page-header">
  		<h1>Onefootball - Best 11 </br><small><a href='./trending.html'> Find Most Surprise Players in Last Weekend</small></a></h1>
	  </div>
<!-- Best 11 Pitch


 <div class="col-md-6">
 <h3>Best 11</h3>

 <div class="pitch">

<ul class="drop-list">
<li  class="drop-item" ><img src="https://images.onefootball.com/icons/teams/164/5.png" alt="..." class="img-circle">
<span class="league-name">Player</span></li>
<li  class="drop-item" ><img src="https://images.onefootball.com/icons/teams/164/5.png" alt="..." class="img-circle"></li>
<li  class="drop-item" ><img src="https://images.onefootball.com/icons/teams/164/5.png" alt="..." class="img-circle"></li>
<li  class="drop-item" ><img src="https://images.onefootball.com/icons/teams/164/5.png" alt="..." class="img-circle"></li>
<li  class="drop-item" ><img src="https://images.onefootball.com/icons/teams/164/5.png" alt="..." class="img-circle"></li>
</ul>

<ul class="drop-list">
<li  class="drop-item" ><img src="https://images.onefootball.com/icons/teams/164/213.png" alt="..." class="img-circle">
<span class="league-name">Player</span></li>
<li  class="drop-item" ><img src="https://images.onefootball.com/icons/teams/164/213.png" alt="..." class="img-circle"></li>
<li  class="drop-item" ><img src="https://images.onefootball.com/icons/teams/164/213.png" alt="..." class="img-circle"></li>
<li  class="drop-item" ><img src="https://images.onefootball.com/icons/teams/164/213.png" alt="..." class="img-circle"></li>
<li  class="drop-item" ><img src="https://images.onefootball.com/icons/teams/164/213.png" alt="..." class="img-circle"></li>
</ul>




</div>

</div> 

 -->  



<!-- Best 11 Table -->   
<div class="col-md-12">
<h3>Player List</h3>
    <p>{{bests.length}}</p>
<!--leagues -->   
<div class="right">

    <div class="col-md-2 right-title">
    <h4>Leagues:<h4>
    </div>

    <div class="col-md-10 right-content">
      <ul class='leagues-list'>
        <li class="league-item"><input type="checkbox"> England 1</li>
        <li class="league-item"><input type="checkbox"> Germany 2</li>
        <li class="league-item"><input type="checkbox"> France 3</li>
        <li class="league-item"><input type="checkbox"> Italy 4</li>
        <li class="league-item"><input type="checkbox"> All 4</li>
      </ul>
    </div>

</div>  <!-- right 1-->

<div class="right">

<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#home">Forwards</a></li>
  <li><a data-toggle="tab" href="#menu1">Attack-Midfields</a></li>
  <li><a data-toggle="tab" href="#menu2">Defence-Midfields</a></li>
    <li><a data-toggle="tab" href="#menu3">Side Defenders</a></li>
    <li><a data-toggle="tab" href="#menu4">Defenders</a></li>
    <li><a data-toggle="tab" href="#menu5">GoalKeepers</a></li>
</ul>



<div class="tab-content">

<!-- Forwards-->
<div id="home" class="right tab-pane fade in active">
      <div class="standings-table-header-wrapper">

        <div class="left-title" >

        <span class="left-title">Players</span>

        </div>

         <div class="title">
        <span>Goals</span>
        </div>

        <div class="title">
        <span>Assists</span>
        </div>

        <div class="major">
        <span>Rating</span>
        </div>


        </div>

    <div class="standings-table-row-wrapper" ng-repeat="best in bests | orderBy: ['0-status.goals','0-status.assist','0-status.rating']  as filtered_result" ng-if= "best.info.position === 'F'" ng-show='best.status.goals>0'>


        <div class="ranking">
        <img class="player-image" ng-src="{{best.info.img}}" loaded="true" >
        </div>


        <div class="player-stats-info" >

        <span class="player-stats-name">{{best.info.name}}</span>

        <span class="player-stats-team">
        <img ng-src="{{best.team.img}}" loaded="true" >

        <span>{{best.team.name}}</span>

        </span>

        </div>

         <div class="total-games">
        <span>{{best.status.goals}} </span>
        </div>

        <div class="total-games">
        <span>{{best.status.assists}}</span>
        </div>

        <div class="total-games">
        <span>{{best.status.rating}} <i class="fa fa-trophy" aria-hidden="true" ng-show="best.match.winnerCode === 1"></i>

</span>
        </div>

        </div>

</div>
<!-- mid1List-->

<div id="menu1" class="right tab-pane fade">

        <div class="standings-table-header-wrapper">

        <div class="left-title" >

        <span class="left-title">Players</span>

        </div>

  
         <div class="title">
        <span>Goals</span>
        </div>

        <div class="title">
        <span>Assists</span>
        </div>

        <div class="title">
        <span>KeyPasses</span>
        </div>

        <div class="title">
        <span>totalDuels</span>
        </div>


        <div class="major">
        <span>Rating</span>
        </div>


        </div>

        <div class="standings-table-row-wrapper" dnd-draggable="item"  dnd-effect-allowed="move" ng-repeat="best in bests | orderBy: ['0-status.goals','0-status.rating','0-status.assists'] as filtered_result" ng-if= "best.info.position === 'M'" ng-show='$index<20'>


        <div class="ranking">
        <img class="player-image" ng-src="{{best.info.img}}" loaded="true" >
        </div>


        <div class="player-stats-info" >

        <span class="player-stats-name">{{best.info.name}}</span>

        <span class="player-stats-team">
        <img ng-src="{{best.team.img}}" loaded="true" >

        <span>{{best.team.name}}</span>

        </span>

        </div>

         <div class="total-games">
        <span>{{best.status.goals}} </span>
        </div>

        <div class="total-games">
        <span>{{best.status.assists}}</span>
        </div>

        <div class="total-games">
        <span>{{best.status.keyPass}}</span>
        </div>

          <div class="total-games">
        <span>{{best.status.totalDuels}}</span>
        </div>

         <div class="total-games">
        <span>{{best.status.rating}} <i class="fa fa-trophy" aria-hidden="true" ng-show="best.match.winnerCode === 1"></i></span>
        </div>

</div>
</div>
<!--mid1List-->

<!-- mid2List-->

<div id="menu2" class="right tab-pane fade">

        <div class="standings-table-header-wrapper">

        <div class="left-title" >

        <span class="left-title">Players</span>

        </div>

  
         <div class="title">
        <span>Clearances</span>
        </div>

        <div class="title">
        <span>Blocked shots</span>
        </div>

        <div class="title">
        <span>Interceptions</span>
        </div>

        <div class="title">
        <span>Tackles</span>
        </div>

        <div class="major">
        <span>Rating</span>
        </div>


        </div>

        <div class="standings-table-row-wrapper" dnd-draggable="item"  dnd-effect-allowed="move" ng-repeat="best in bests | orderBy: ['0-status.rating','0-status.interceptionWon-status.totalTackle'] as filtered_result" ng-if= "best.info.position === 'M'" ng-show='$index<30'>


        <div class="ranking">
        <img class="player-image" ng-src="{{best.info.img}}" loaded="true" >
        </div>


        <div class="player-stats-info" >

        <span class="player-stats-name">{{best.info.name}}</span>

        <span class="player-stats-team">
        <img ng-src="{{best.team.img}}" loaded="true" >

        <span>{{best.team.name}}</span>

        </span>

        </div>

         <div class="total-games">
        <span>{{best.status.totalClearance}} </span>
        </div>

        <div class="total-games">
        <span>{{best.status.outfielderBlock}}</span>
        </div>

        <div class="total-games">
        <span>{{best.status.interceptionWon}}</span>
        </div>


        <div class="total-games">
        <span>{{best.status.totalTackle}}</span>
        </div>


         <div class="total-games">
        <span>{{best.status.rating}} <i class="fa fa-trophy" aria-hidden="true" ng-show="best.match.winnerCode === 1"></i></span>
        </div>
</div>
</div>
<!--mid2List-->
<!-- mid3List-->

<div id="menu3" class="right tab-pane fade">

        <div class="standings-table-header-wrapper">

        <div class="left-title" >

        <span class="left-title">Players</span>

        </div>

  
         <div class="title">
        <span>Goals</span>
        </div>

        <div class="title">
        <span>Assits</span>
        </div>

        <div class="title">
        <span>Crosses</span>
        </div>

        <div class="title">
        <span>Key passes</span>
        </div>

        <div class="major">
        <span>Rating</span>
        </div>


        </div>

        <div class="standings-table-row-wrapper" dnd-draggable="item"  dnd-effect-allowed="move" ng-repeat="best in bests | orderBy: ['0-status.goals','0-status.assists','0-status.rating'] as filtered_result" ng-if= "best.info.position === 'D'" ng-show='$index<30'>


        <div class="ranking">
        <img class="player-image" ng-src="{{best.info.img}}" loaded="true" >
        </div>


        <div class="player-stats-info" >

        <span class="player-stats-name">{{best.info.name}}</span>

        <span class="player-stats-team">
        <img ng-src="{{best.team.img}}" loaded="true" >

        <span>{{best.team.name}}</span>

        </span>

        </div>

         <div class="total-games">
        <span>{{best.status.goals}} </span>
        </div>

        <div class="total-games">
        <span>{{best.status.assists}}</span>
        </div>

        <div class="total-games">
        <span>{{best.status.totalCross}}</span>
        </div>


        <div class="total-games">
        <span>{{best.status.keyPass}}</span>
        </div>


         <div class="total-games">
        <span>{{best.status.rating}} <i class="fa fa-trophy" aria-hidden="true" ng-show="best.match.winnerCode === 1"></i></span>
        </div>

</div>
</div>
<!--mid3List-->


<!-- mid3List-->

<div id="menu4" class="right tab-pane fade">

        <div class="standings-table-header-wrapper">

        <div class="left-title" >

        <span class="left-title">Players</span>

        </div>

  
         <div class="title">
        <span>Clearances</span>
        </div>

        <div class="title">
        <span>Blocked shots</span>
        </div>

        <div class="title">
        <span>Interceptions</span>
        </div>

        <div class="title">
        <span>Tackles</span>
        </div>

        <div class="major">
        <span>Rating</span>
        </div>


        </div>

        <div class="standings-table-row-wrapper" dnd-draggable="item"  dnd-effect-allowed="move" ng-repeat="best in bests | orderBy: ['0-status.rating','0-status.interceptionWon-status.outfielderBlock-status.totalTackle'] as filtered_result" ng-if= "best.info.position === 'D'" ng-show='$index<30'>


        <div class="ranking">
        <img class="player-image" ng-src="{{best.info.img}}" loaded="true" >
        </div>


        <div class="player-stats-info" >

        <span class="player-stats-name">{{best.info.name}}</span>

        <span class="player-stats-team">
        <img ng-src="{{best.team.img}}" loaded="true" >

        <span>{{best.team.name}}</span>

        </span>

        </div>

         <div class="total-games">
        <span>{{best.status.totalClearance}} </span>
        </div>

        <div class="total-games">
        <span>{{best.status.outfielderBlock}}</span>
        </div>

        <div class="total-games">
        <span>{{best.status.interceptionWon}}</span>
        </div>


        <div class="total-games">
        <span>{{best.status.totalTackle}}</span>
        </div>


         <div class="total-games">
        <span>{{best.status.rating}} <i class="fa fa-trophy" aria-hidden="true" ng-show="best.match.winnerCode === 1"></i></span>
        </div>

</div>
</div>
<!--mid3List-->

<!-- mid5List-->

<div id="menu5" class="right tab-pane fade">

        <div class="standings-table-header-wrapper">

        <div class="left-title" >

        <span class="left-title">Players</span>

        </div>

  
         <div class="title">
        <span>Saves</span>
        </div>

        <div class="title">
        <span>Punches</span>
        </div>

        <div class="title">
        <span>High claims</span>
        </div>

        <div class="major">
        <span>Rating</span>
        </div>


        </div>

        <div class="standings-table-row-wrapper" dnd-draggable="item"  dnd-effect-allowed="move" ng-repeat="best in bests | orderBy: '0-status.rating' as filtered_result" ng-if= "best.info.position === 'G'">


        <div class="ranking">
        <img class="player-image" ng-src="{{best.info.img}}" loaded="true" >
        </div>


        <div class="player-stats-info" >

        <span class="player-stats-name">{{best.info.name}}</span>

        <span class="player-stats-team">
        <img ng-src="{{best.team.img}}" loaded="true" >

        <span>{{best.team.name}}</span>

        </span>

        </div>

         <div class="total-games">
        <span>{{best.status.saves}} </span>
        </div>

        <div class="total-games">
        <span>{{best.status.punches}}</span>
        </div>

        <div class="total-games">
        <span>{{best.status.goodHighClaim}}</span>
        </div>


         <div class="total-games">
        <span>{{best.status.rating}} <i class="fa fa-trophy" aria-hidden="true" ng-show="best.match.winnerCode === 1"></i></span>
        </div>

</div>
</div>
<!--mid3List-->


</div><!--tab content-->

</div>
</div>

<div class="right">

</div>

<!--List of table -->

<!--<div class="right">

<div class="standings-table-row-wrapper" dnd-draggable="item"  dnd-effect-allowed="move">


<div class="ranking">
<img class="player-image" src="https://images.onefootball.com/players/172006.jpg" loaded="true" >
</div>

<div class="player-stats-info" >

<span class="player-stats-name">Marcus Rashford</span>

<span class="player-stats-team">
<img src="https://images.onefootball.com/icons/internal/56/21.png" "loaded="true" >

<span>Manchester Utd</span>

</span>

</div>


<div class="total-games">
<span>Goals </span>
</div>

<div class="total-games">
<span>Assists</span>
</div>


</div>
 -->










</div>


</div>  <!-- Player list-->

</div> <!-- ng controller -->



    <!-- Modules -->
    <script src="./js/app.js"></script>


    <!-- Controllers -->
    <script src="./js/controllers/MainController.js"></script>

              <!-- Services -->
    <script src="./js/services/best11.js"></script>

          <!-- Modules-->
    <script src="./js/chart.js"></script>
    <!-- Modules -->
    <script src="./js/angular-chart.min.js"></script>

      <!-- Services -->
  <script src="./js/services/players.js"></script>
      <!-- Services -->
    <script src="./js/services/trending.js"></script>

          <!-- Services -->
    <script src="./js/services/best11.js"></script>

    <!-- other -->

     <script src="./js/others/angular-drag-and-drop-lists.min.js"></script>

</body>

</html>
