<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Trending Players</title>

	<link rel="stylesheet" href="">
	<!-- 新 Bootstrap 核心 CSS 文件 -->
	<link rel="stylesheet" href="./css/bootstrap.min.css">

  <script src="./js/jquery-3.1.0.min.js"></script>

	<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
	<script src="./js/bootstrap.min.js"></script>

  <script src="./js/angular.min.js"></script>

<link rel="stylesheet" href="./css/font-awesome.min.css">

<link rel="stylesheet" href="./css/onedata.css">


</head>

<body  ng-app="TrendingPlayers">

<div class="container-fluid" ng-controller="MainController">

		<div class="page-header of-row">
  		<h1>Onefootball - Trending Players </br><small>Most Surprise Players in Last Weekend</small></h1>
	  </div>

<!-- Leagues Pickers --><!-- Leagues Pickers -->
<h3>Selected League : <span ng-repeat="league in chosedLeagues"> {{league}} </span></h3>

<div class="of-row">

<ul class="popular-list">

<li ng-repeat="league in leagues" class="popular-item" ng-click="leagueList(league)">

<img class="greyscale" ng-src={{league.img}} alt="{{league.name }}" ng-if="chosedLeagues.indexOf(league.cid)===-1"> 
<img ng-src={{league.img}} alt="{{league.name }}" ng-if="chosedLeagues.indexOf(league.cid)!==-1"> 
<span class="league-name">{{league.name}}</span>
<span>day {{league.matchday}}</span>

</li><!---->
</ul>
</div>


<h3>Players Sort by: {{propertyName}}
</h3>

<p class="descrption"><span class="title">Goals:</span> Last Match Goals; <span class="title">Sort:</span> Last Match Votes Sorts of All Players</p>
<p class="descrption"><span class="title">Avg.:</span> Avg Votes of Season; <span class="title">Last:</span> Last Match Votes. <span class="title">L/A:</span> Last Match Votes / Avg. Votes</p>
<p class="descrption"><span class="title">Trend:</span> Raising or Drop Speed of Votes</p>


<!--New Pickers -->
<div class="of-row">

<!-- Players Card -->

<div class="card-body">

<!--Title of table -->
<div class="table-header-wrapper">

<div class="competition-name">Players
</div>


<div class="hasGoals" ng-click="sortBy('hasGoals')" >
Goals  <i class="fa fa-sort fa-lg" aria-hidden="true"></i></div>

<div class="hasGoals" ng-click="sortBy('LastSort')" >
Sort  <i class="fa fa-sort fa-lg" aria-hidden="true"></i></div>



<div class="lastAvg" ng-click="sortBy('avgVotes')" >
Avg. <i class="fa fa-sort fa-lg" aria-hidden="true"></i>
</div>

<div class="lastAvg"  ng-click="sortBy('lastVotes')" >
Last <i class="fa fa-sort fa-lg" aria-hidden="true"></i></div>

<div class="lastAvg"  ng-click="sortBy('lastAvg')" >
L/A <i class="fa fa-sort fa-lg" aria-hidden="true"></i></div>



<div class="trending"  ng-click="sortBy('raisingSpeed')" >
Trend <i class="fa fa-sort fa-lg" aria-hidden="true"></i></span>
</div>

</div>


<!--List of table -->
<div class="standings-table-row-wrapper"  ng-repeat="player in players| orderBy:propertyName:reverse"  ng-click="choose(player)" ng-mouseover="hoverIn()" ng-mouseleave="hoverOut()" ng-if="chosedLeagues.indexOf(player.cid)!==-1">


<div class="ranking">
<img class="player-image" ng-src="{{player.imageSrc}}" loaded="true" >
</div>

<div class="player-stats-info" >

<span class="player-stats-name">{{player.name}}</span>

<span class="player-stats-team">
<img ng-src="{{player.teamImg.url}} "loaded="true" >

<span>{{player.team}}</span>

</span>


<canvas id="line" class="chart chart-line" chart-data="data"
chart-labels="labels" chart-series="series" chart-options="options"
chart-dataset-override="datasetOverride" chart-click="onClick" ng-show="player == choesdPlayer">
</canvas> 


</div>

<div class="total-games">
<i class="fa fa-line-chart fa-lg" aria-hidden="true" ng-show="hover"></i>
</div>

<div class="total-games">
<span>{{player.hasGoals}}</span>
</div>

<div class="total-games">
<span>{{player.LastSort}}<i class="fa fa-star" aria-hidden="true" ng-show="player.LastSort===1"></i>
</span>
</div>

<div class="total-games">
<span>{{player.avgVotes}}</span>
</div>


<div class="total-games">
<span>{{player.lastVotes}}</span>
</div>

<div class="total-games">
<span>{{player.lastAvg}}</span>
</div>

<div class="points">
<i ng-if="player.raisingSpeed>100" class="fa fa-angle-double-up fa-lg" aria-hidden="true"></i>

<i ng-if="player.raisingSpeed>0&&player.raisingSpeed<100" class="fa fa-angle-up fa-lg" aria-hidden="true"></i>
<i ng-if="player.raisingSpeed<0&&player.raisingSpeed>-0.5" class="fa fa-angle-down fa-lg" aria-hidden="true"></i>
<i ng-if="player.raisingSpeed<-0.5" class="fa fa-angle-double-down fa-lg" aria-hidden="true"></i>

</div>

</div>



    <!-- Modules -->
    <script src="./js/app.js"></script>
      <!-- Modules -->
    <script src="./js/chart.js"></script>
    <!-- Modules -->
    <script src="./js/angular-chart.min.js"></script>


    <!-- Controllers -->
    <!-- Controllers -->
    <script src="./js/controllers/MainController.js"></script>

      <!-- Services -->
  <script src="./js/services/players.js"></script>
      <!-- Services -->
    <script src="./js/services/trending.js"></script>
    <!-- Directives -->

        <!-- filters -->

     <script src="./js/toArray.js"></script>


</body>

</html>
